# Eclipse
bin/
*.launch
.settings/
.metadata/
.classpath
.project
.eclipse/

# IntelliJ IDEA
out/
*.ipr
*.iws
*.iml
.idea/

# VS Code
.vscode/

# Gradle
build/
.gradle/
gradle-app.setting

# Minecraft
run/
runs/
runServer/
run-data/
logs/

# Other
repo/
nul
*.log
.DS_Store

# Tests
test-final.txt
test-results.txt
test-output.txt
